
@model List<Book>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>PublicationYear</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td><a href="@Url.Action("BookDetail", new { id = book.Id })">@book.Title</a></td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@book.ISBN</td>
            </tr>
        }
    </tbody>
</table>